:root {
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-hover-btn: 0px 5px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 5px 0px rgba(0, 0, 0, 0.14), 0px 2px 5px 0px rgba(0, 0, 0, 0.12);

  --box-shadow-active-btn: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

body {
  position: relative;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", sans-serif;
  line-height: 1.5;
  color: #2a2a2a;
}

body.show-modal .backdrop {
  pointer-events: inherit;
  visibility: visible;
  opacity: 1;
}

body.show-modal .modal {
  transform: scale(1);
}

ul,
ol {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1240px;
}

.modal-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

  transition-property: background-color, color, box-shadow;
  transition-duration: 100ms;
  transition-timing-function: var(--timing);
}

.modal-btn:hover {
  box-shadow: var(--box-shadow-hover-btn);
  color: rgba(219, 47, 47, 0.574);
}

.modal-btn:active {
  box-shadow: var(--box-shadow-active-btn);
  color: rgba(142, 14, 14, 0.574);
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(238, 130, 238, 0.5);

  text-align: center;
  z-index: 999;

  pointer-events: none;
  visibility: hidden;
  opacity: 0;

  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  max-width: 450px;
  width: 100%;

  min-height: 250px;

  background-color: rgba(64, 224, 208, 0.5);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 10px;

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}
